@model CompanyDetailsVM
@{
    ViewBag.Title = "Details";
    ViewBag.Header = "Details";
}

<p><strong>Company: </strong>@Model.CompanyName</p>
<p><strong>ID: </strong>@Model.Id</p>
<p><strong>Employees: </strong>@Model.NumberOfEmployees</p>


