@model Employee[]
@{
    ViewBag.Title = "Employees";
    ViewBag.Header = "Employees";
}

<ul>
    @foreach (var item in Model)
    {
        <li>
            <a asp-controller="Employees" asp-action="Details" asp-route-id="@item.Id">@item.Name @item.Company.CompanyName</a>
            <partial name="_TimeBox" model="DateTime.Now" />

            <hr>
        </li>
    }
</ul>

