@model Employee[]
@{
	Layout = "_Layout";
	ViewBag.Title = "Employees";
	ViewBag.Header = "Employees";
}

	<ul>
		@foreach (var item in Model)
		{
			<li>
				<a asp-controller="Employees" asp-action="Details" asp-route-id="@item.Id">@item.Name</a>
				<hr>
			</li>
		}
	</ul>
