@model IndexVM[]
@{
    ViewBag.Title = "Employees";
    ViewBag.Header = "Employees";
}

<ul>
    @foreach (var item in Model)
    {
        <li>
            <a asp-controller="Employees" asp-action="Details" asp-route-id="@item.Id">@item.EmployeeName</a>
            <br>
            <p>@item.CompanyName</p>
            <br>
            <a href="/delete/@item.Id">Remove</a>
            @*<partial name="_TimeBox" model="DateTime.Now" />*@
            <hr>
        </li>
    }
</ul>

